.timezone-clock {
  font-size: 18px;
}
#timezone-offset-1,
#formated-1,
#timezone-offset-2,
#formated-2 ,
#timezone-offset-3,
#formated-3 {
  display: none;
}
.field-wrapper {
  float: left;
  margin-right: 20px;
}
.form-type-radio {
  float: left;
  margin-right: 10px;
}
.add-more-button {
  margin-left: 164px;
  float: left;
}
#my-timezone-clock-form {
  background-color: #000;
}
